@using CodeKicker.BBCode
@using Microsoft.AspNet.Identity
@model Athenaeum.ViewModels.Guild.GuildDetailsViewModel
@{
    ViewBag.Title = Model.Name;
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@Model.Name</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Explore", "Explore", "Home")</li>
            <li>@Html.ActionLink("Guilds", "Index", "Guild")</li>
            <li class="active">@Model.Name</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content" style="margin-top:0px;">
    @if (User.Identity.GetUserName() == Model.Owner || User.IsInRole("admin") || User.IsInRole("god"))
    {
                <!-- Single button -->
        <div class="btn-group pull-right">
            <button type="button" class="btn-u btn-u-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Edit", "Edit", "Guild", new { id = Model.GuildId }, null)</li>
                <li><a href="#" data-toggle="modal" data-target="#deleteModal">Delete</a></li>
            </ul>
        </div>
        
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Warning!</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <strong>@Model.Name</strong>? This action cannot be undone.
                </div>
                  <div class="modal-footer text-right">
                        @Html.ActionLink("Delete", "Delete", "Guild", new { id = Model.GuildId }, new {@class = "btn-u"})
                      <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Cancel</button>
                  </div>
            </div>
          </div>
        </div>
    }    
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
        <div class="blog-img">
            <img class="img-responsive" src="@Model.ImageUrl" alt="">
        </div>
        <div class="overflow-h">
            <div class="pull-left">
                <h2>
                    @Model.Name <small>@Model.Tagline</small>
                    @if (Model.Status == "Inactive")
                    {
                        <small><i class="fa fa-warning" title="Guild is Inactive"></i></small>
                    }
                    
                </h2>
            </div>
            <div class="pull-right">
                <span>@Model.Faction [@Html.ActionLink(Model.Owner, "Profile", "Account", new {username = Model.Owner}, null)]</span>
            </div>
        </div>
        
        <p class="margin-bottom-30">
            @Html.Raw(BBCode.ToHtml(Model.Introduction))
        </p>
        
        @if (!string.IsNullOrEmpty(Model.Background))
        {
            <div class="headline"><h3>Background</h3></div>
            <p class="margin-bottom-30">@Html.Raw(BBCode.ToHtml(Model.Background))</p>
        }
        @if (!string.IsNullOrEmpty(Model.OocInformation))
        {
            <div class="headline"><h3>OOC Information</h3></div>
            <p class="margin-bottom-30">@Html.Raw(BBCode.ToHtml(Model.OocInformation))</p>
        }
        
        <div class="headline"><h3>Members</h3></div>
        <table class="table table-striped">
            <tbody id="memberSection">
                
            </tbody>
        </table>

        <!--End Blog Post-->

        <hr>
        
        
    </div>
</div>

<div class="container">
    <!-- COMMENT SECTION -->
    <!-- End News v3 -->
    <h2 class="margin-bottom-20">Comments <span id="commentsLoading" class="hidden"><i class="fa fa-spin fa-spinner"></i></span><span class="hidden" id="commentCount"></span></h2>
    <!-- Blog Comments -->
    <div id="commentSection">

    </div>
    <!-- End Blog Comments -->
    @if (Request.IsAuthenticated)
    {
        <h2 class="margin-bottom-20">Post a Comment</h2>
        <!-- Form -->
        <div id="sky-form3" class="sky-form comment-style">
            <fieldset>
                <div class="sky-space-30">
                    <div>
                        <textarea rows="8" id="commentMessage" name="message" id="message" placeholder="Write comment here ..." class="form-control"></textarea>
                    </div>
                </div>

                <p>
                    <button type="button" id="commentSubmit" class="btn-u">Submit</button>
                </p>
            </fieldset>
        </div>
        <!-- End Form -->
    }
    else
    {
        <h2 class="margin-bottom-20">@Html.ActionLink("Login", "Login", "Account") to Post a Comment</h2>
        <!-- Form -->
        <form action="" id="sky-form3" class="sky-form comment-style">
            <fieldset>
                <div class="sky-space-30">
                    <div>
                        <textarea rows="8" name="message" id="message" placeholder="Write comment here ..." class="form-control disabled" readonly></textarea>
                    </div>
                </div>

                <p>
                    <button type="button" class="btn-u disabled">Add Comment</button>
                </p>
            </fieldset>
        </form>
        <!-- End Form -->
    }
</div>
@section Scripts
{
    <script>
    function loadComments() {
        var id = @Model.GuildId;

        $("#commentsLoading").removeClass("hidden");
        console.log("Loading comments");
        $.getJSON("../loadcomments", { id: id })
            .done(function(data) {
                $("#commentCount").html("(" + data.length + ")");

                $("#commentCount").removeClass("hidden");

                $("#commentSection").html("");

                $.each(data, function(index, value) {
                    @{ var canDelete = User.IsInRole("moderator") || User.IsInRole("admin");}
                    var canDelete = "@canDelete" == "True";
                        
                    if (canDelete) {
                        var newHtml = '<div class="row blog-comments margin-bottom-30"><div class="col-sm-2 sm-margin-bottom-40"><img src="' + value.ImageUrl + '" alt=""></div><div class="col-sm-10"><div class="comments-itself-light"><h4><a href="../../Account/Profile?username=' + value.Author + '">' + value.Author + '</a><small class="pull-right"> <a title="Delete Comment" href="../../Home/DeleteComment/' + value.CommentId + '"><i class="fa fa-trash"></i></a></small></h4><p>' + value.Body + '</p></div></div></div>';
                    } else {
                        var newHtml = '<div class="row blog-comments margin-bottom-30"><div class="col-sm-2 sm-margin-bottom-40"><img src="' + value.ImageUrl + '" alt=""></div><div class="col-sm-10"><div class="comments-itself-light"><h4><a href="../../Account/Profile?username=' + value.Author + '">' + value.Author + '</a></h4><p>' + value.Body + '</p></div></div></div>';
                    }
                    $("#commentSection").html($("#commentSection").html() + newHtml);

                });

                if (data.length == 0) {
                    $("#commentSection").html("<p>There are no comments here yet.</p>");
                }
            })
            .fail(function() {
                toastr.error("Failed to load comments.");
            })
            .always(function() {
                $("#commentsLoading").addClass("hidden");
            });
    }

    function loadMembers() {
        var name = "@Model.Name";

            $("#memberSection").html('<tr><td>Loading members... <i class="fa fa-spinner fa-spin"></i></td></tr>');

            $.getJSON("../loadmembers", { name: name })
                .done(function(data) {
                    $("#memberSection").html("");

                    $.each(data, function(index, value) {
                        var newHtml = '<tr><td><a href="../../Character/Details/' + value.CharacterId + '">' + value.Name + '</a></td><td>' + value.FullName + '</td><td class="text-right">' + value.Race + ' ' + value.Class + '</td></tr>';
                        $("#memberSection").html($("#memberSection").html() + newHtml);
                    });

                    if (data.length == 0) {
                        $("#memberSection").html("<tr><td>There are no members in this guild yet.</td></tr>");
                    }
                })
                .fail(function() {
                    toastr.error("Failed to load members.");
                    $("#memberSection").html('<tr><td>Members failed to load.</td></tr>');
                });
        }

        $(document).ready(function() {
            loadComments();
            loadMembers();

            $("#commentSubmit").click(function() {
                var body = $("#commentMessage").val();
                var id = @Model.GuildId;

                if (body == "") {
                    toastr.error("You have to input something into the comment box.");
                } else {
                    $.post("../addcomment", { body: body, id: id })
                     .done(function(result) {
                         $("#commentMessage").val("");
                         loadComments();
                     })
                     .fail(function() {
                         toastr.error("Failed to post comment.");
                     });
                }
            })
        })
    </script>
}




