@using CodeKicker.BBCode
@using Microsoft.AspNet.Identity
@model Athenaeum.Models.NewsArticle
@{
    ViewBag.Title = Model.Title;
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@Model.Title</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("News Archive", "Archive", "News")</li>
            @if (Model.Title.Length > 30)
            {
                <li class="active">@Model.Title.Substring(0, 30)...</li>
            }
            else
            {
                <li class="active">@Model.Title</li>
            }
        </ul>
    </div>
</div><!--/breadcrumbs-->

@if (User.IsInRole("admin") || User.IsInRole("god") || (User.IsInRole("journalist") && Model.Author.UserName == User.Identity.GetUserName()))
{
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>Article Administration</span>
                    <p>This is an Admin-only feature. If you believe you are seeing this section in error, please contact us immediately so that we can resolve the problem.</p>
                </div>
                <div class="col-md-6 text-center btn-buy">
                    <a href="#" class="btn-u btn-u-lg" data-toggle="modal" data-target="#editArticleModal">Edit Article</a>
                </div>
                <div class="col-md-6 text-center btn-buy">
                    <a href="#" class="btn-u btn-u-lg" data-toggle="modal" data-target="#deleteArticleModal">Delete Article</a>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    
    <div class="modal" id="editArticleModal" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">Edit Article</h4>
                </div>
                @using (Html.BeginForm("Edit", "News", null, FormMethod.Post, new { @class = "sky-form contact-style", enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                    
                        <input type="hidden" name="id" value="@Model.NewsArticleId"/>

                        <label>Body <span class="color-red">*</span></label>
                        <div class="sky-space-30">
                                <div>
                                    <textarea rows="8" name="body" id="body" required class="form-control">@Model.Body.Replace("[br]", "\n")</textarea>
                                </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn-u btn-u">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
    
    <div class="modal" id="deleteArticleModal" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">Delete Article</h4>
                </div>
                @using (Html.BeginForm("Delete", "News", null, FormMethod.Post, new { @class = "sky-form contact-style", enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                    
                        <input type="hidden" name="id" value="@Model.NewsArticleId"/>

                        Are you sure you want to delete @Model.Title? This action cannot be undone.
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn-u btn-u">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
}

<!--=== Blog Posts ===-->
<div class="">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 margin-bottom-30">
            <img class="img-responsive full-width" src="@Model.ImageUrl" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>By @Html.ActionLink(Model.Author.UserName, "Profile", "Account", new { username = Model.Author.UserName }, null)</li>
                    <li>@Model.Category.Description</li>
                    <li>Posted @Model.PostedDate.ToString("MMMM dd, yyyy")</li>
                </ul>
                <h2>@Model.Title</h2>
                <p>@Html.Raw(BBCode.ToHtml(Model.Body))</p>
            </div>
        </div>
        <div class="media">
            <!-- End News v3 -->
            <h2 class="margin-bottom-20">Comments <span id="commentsLoading" class="hidden"><i class="fa fa-spin fa-spinner"></i></span><span class="hidden" id="commentCount"></span></h2>
            <!-- Blog Comments -->
            <div id="commentSection">

            </div>
        </div>
        
        <!-- End Blog Comments -->
        
        @if (Request.IsAuthenticated)
        {
            <h2 class="margin-bottom-20">Post a Comment</h2>
            <!-- Form -->
            <div id="sky-form3" class="sky-form comment-style">
                <fieldset>
                    <div class="sky-space-30">
                        <div>
                            <textarea rows="8" id="commentMessage" name="message" id="message" placeholder="Write comment here ..." class="form-control"></textarea>
                        </div>
                    </div>

                    <p><button type="button" id="commentSubmit" class="btn-u">Submit</button></p>
                </fieldset>
            </div>
            <!-- End Form -->
        }
        else
        {
            <h2 class="margin-bottom-20">@Html.ActionLink("Login", "Login", "Account") to Post a Comment</h2>
        <!-- Form -->
        <form action="" id="sky-form3" class="sky-form comment-style">
            <fieldset>
                <div class="sky-space-30">
                    <div>
                        <textarea rows="8" name="message" id="message" placeholder="Write comment here ..." class="form-control disabled" readonly></textarea>
                    </div>
                </div>

                <p><button type="button" class="btn-u disabled">Submit</button></p>
            </fieldset>
        </form>
        <!-- End Form -->
        }
        
    </div><!--/end container-->
</div>
<!--=== End Blog Posts ===-->

@section Scripts
{
    <script>
    function loadComments() {
        var id = @Model.NewsArticleId;

            $("#commentsLoading").removeClass("hidden");

            $.getJSON("../loadcomments", { id: id })
                .done(function(data) {
                    $("#commentCount").html("(" + data.length + ")");

                    $("#commentCount").removeClass("hidden");

                    $("#commentSection").html("");

                    $.each(data, function(index, value) {
                        @{ var canDelete = User.IsInRole("moderator") || User.IsInRole("admin");}
                        var canDelete = "@canDelete" == "True";
                        
                        if (canDelete) {
                            var newHtml = '<div class="row blog-comments margin-bottom-30"><div class="col-sm-2 sm-margin-bottom-40"><img src="' + value.ImageUrl + '" alt=""></div><div class="col-sm-10"><div class="comments-itself-light"><h4><a href="../../Account/Profile?username=' + value.Author + '">' + value.Author + '</a><small class="pull-right"> <a title="Delete Comment" href="../../Home/DeleteComment/' + value.CommentId + '"><i class="fa fa-trash"></i></a></small></h4><p>' + value.Body + '</p></div></div></div>';
                        } else {
                            var newHtml = '<div class="row blog-comments margin-bottom-30"><div class="col-sm-2 sm-margin-bottom-40"><img src="' + value.ImageUrl + '" alt=""></div><div class="col-sm-10"><div class="comments-itself-light"><h4><a href="../../Account/Profile?username=' + value.Author + '">' + value.Author + '</a></h4><p>' + value.Body + '</p></div></div></div>';
                        }
                        $("#commentSection").html($("#commentSection").html() + newHtml);

                    });

                    if (data.length == 0) {
                        $("#commentSection").html("<p>There are no comments here yet.</p>");
                    }
                })
                .fail(function() {
                    toastr.error("Failed to load comments.");
                })
                .always(function() {
                    $("#commentsLoading").addClass("hidden");
                });
        }

        $(document).ready(function() {
            loadComments();

            $("#commentSubmit").click(function() {
                var body = $("#commentMessage").val();
                var id = @Model.NewsArticleId;

                if (body == "") {
                    toastr.error("You have to input something into the comment box.");
                } else {
                    $.post("../addcomment", { body: body, id: id })
                     .done(function(result) {
                         $("#commentMessage").val("");
                         loadComments();
                     })
                     .fail(function() {
                         toastr.error("Failed to post comment.");
                     });
                }
            })
        })
    </script>
}